/* Center all text */
* {
  text-align: center;
}

/* Style a slider */
input[type="range"] {
  width: 100%;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #2196f3;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2196f3;
}
